{% extends "base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column;">
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
    <a href="#">Links to another pages</a>
</div>
{{ super() }}
{% endblock %}